body{
	background: #E8E8E8;
	/*transform: scale(0.9);
	transform-origin: 0 0;*/
}

/**Top mostcontainer for everything**/
.master {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}
/** the top part of the page**/
.top {
    top: 0px;
    width: 100%;
    background: #666;
    height: 60px;
	display:flex;
	position: relative;
}
/** these are inside the top part**/
.left_buttons {
	margin: 5px;
}

.left-icon {
    border: 1px gray outset;
    border-radius: 5px;
    padding: 0px;
    width: 60px;
    text-align: center;
    background: #9b9b9b;
}

.button-icon:hover {
    border: dotted 1px black;
    cursor: pointer;
}

.button-icon:active {
	border: 1px gray inset;
}

.logout_user {
    right: 10px;
    margin: 5px;
    position: absolute;
    bottom: 0px;
    top: 0px;
}
/** Container for the left menu and actual content area.**/
.contents {
	display: flex;
	/**position: absolute;**/
	top: 61px;
	bottom: 5px;
	right: 0px;
	left: 0px;
}
/**left menu with the containers**/
.left {
    left: 0px;
    border: solid 1px black;
    min-width: 200px;
    max-width: 200px;
    background-color: #FFE9E0;
}

.content {
    /*background: #E8E8E8;*/
	flex: 1;
	margin-left: 1px;
}

.container_row:hover {
    border: black, 1px bewel;
    background: #666;
}
.container_row {
    height: 30px;
    width: 196px;
    border: black 1px solid;
    background: #AAAAC1;
    margin: 2px;
    left: 0px;
    cursor: pointer;
}
/**for the login modal dialog**/
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.foot-buttons {
    text-align: right;
}

/**for gauge panel**/
.content-page {
    display: flex;
	flex-wrap: wrap;
}

.gauge_flexer {
    display: flex;
}

/** gauge label**/
.gauge_text {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}

.gauge_title {
    font-weight: bold;
    text-align: center;
}

.unit_gauge_title {
    background: #b0b0b0;
	border-radius: 10px 10px 0px 0px;
}

.unit_title {
    font-size: 2em;
}
.unit_gauge-holder {
    border: solid 1px black;
    border-radius: 10px;
}

.gauge-holder {
    border: 1px dotted black;
    margin: 2px;
	border-radius: 5px;
}

/**User settings form**/
.settings-user-form {
    width: 100%;
}

/**for user settings select(or combobox if you wish)**/
#user_group {
    width: 100%;
}

.settings-user-buttons {
    margin-bottom: 20px;
	margin-top:10px;
}

/** fa-extensions**/
.fa-user-plus {
    color: green;
}

.fa-user-minus {
    color: red;
}

.fa-toggle-on {
    color: green;
}

.fa-toggle-off {
    color: red;
}

/**template holder**/
div.templates{
	display:none;
}
/**temporary for coding**/ 
div.history{
/**div.overview{**/
	display:none;
}

.hidden{
	display:none;
}

.visible-button-list {
    border-radius: 8px 0px 0px 8px;
    border: black 1px solid;
    background: #9ea0a3;
}

i.side-button{
	padding: 5px;
}

i.pressed {
    border: grey 1px inset;
	background: #6b94d1;
}

i.side-button:hover {
    cursor: pointer;
    border: 1px black dotted;
}

.history-table-holder {
    height: 250px;
    overflow: auto;
    min-width: 820px;
    overflow-x: hidden;
}

.history-head {
    background: #9097A1;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px black solid;
} 

.history-table {
    border: 1px solid black;
    border-collapse: collapse;
	margin: 5px;
	min-width: 892px;
	width:99%;
}

.history-row:nth-child(odd){
	background:#9ef7a8;
}

.history-row:nth-child(even){
	background:#9df9f8;
}

.history-body {
    border: 1px solid black;
    border-collapse: collapse;
}

.history-head-select {
    padding: 10px;
}

.icon-col {
    width: 60px;
}

.time-col {
    width: 170px;
}

.state-col {
    width: 80px;
}
.advanced {
    padding: 5px;
    font-weight: bold;
}
.read-only{
	opacity: 0.5;
}
.read-only:hover {
	border: none;
    cursor: not-allowed;
}
.short-set{
	width:50px;
}

.import-wrap {
    display: flex;
}

#import-progress {
    flex-grow: 1;
}

textarea {
    width: 100%;
    height: 420px;
}