<!doctype html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Ilmastonhallinta</title>
		<link rel="stylesheet" href="css/jquery-ui.min.css">
		<link rel="stylesheet" href="css/fontawesome-all.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
	</head>

	<body>
	<!-- library scripts-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery-ui.min.js"></script>
		<script src="js/moment.min.js"></script>
		<script src="js/chart.min.js"></script>
		<script src="js/gauge.min.js"></script>
		<script src="js/mustache.min.js"></script>
	<!--library end-->
	<!--helper scripts-->
		<script src="js/globals.js"></script>
		<script src="js/user.js"></script>
		<script src="js/history.js"></script>
		<script src="js/advanced.js"></script>
		<script src="js/overview.js"></script>
		<script src="js/import.js"></script>
		<script src="js/settings.js"></script>
	
	<!--main execution goes here-->
		<script src="js/scripts.js"></script>
		
		<div class="master">
			<div class="top">
				<div class="left_buttons">
					<i class="fas fa-home fa-3x button-icon left-icon" id="home-button" title="Näytä järjestelmän perustiedot"></i>
					<i class="fas fa-cogs fa-3x button-icon left-icon" id="settings-button" title="Muokkaa järjestelmän asetuksia"></i>
					<i class="fas fa-code fa-3x button-icon left-icon" id="import-button" title="Tuo asetuksia järjestelmään"></i>
				</div>
				<div class="logout_user">
					<i class="fas fa-user fa-3x button-icon left-icon" id="user-button" title="Omat tiedot ja järjestelmän käyttäjätiedot"></i>
					<i class="fas fa-sign-out-alt fa-3x button-icon left-icon" id="signout-button" title="Kirjaudu ulos"></i>
				</div>
			</div>
			<div class="contents">
				<!-- different contents to be shown. I chose to do everything on a single page which shall be loaded entirely on startup.-->
				<div class="content">
					<!-- overview shows gauges for all units and few other crucial ones as well-->
					<div class="content-page overview">
					</div>
				</div>
			</div>
		</div>
		
		<!-- dialog types start here.-->
		<div class="content-page settings-user" id="usersettings">
			<!-- user buttons? create new, delete if admin-->
			<div class="settings-user-buttons">
				<i class="fas fa-user-plus fa-2x button-icon left-icon" id="settings-user-new" title="Luo uusi järjestelmän käyttäjä"></i>
				<i class="fas fa-user-times fa-2x button-icon left-icon" id="settings-user-delete" title="Poista käyttäjä"></i>
			</div>
			<div class="settings-user-form" id="user-container">
			</div>
		</div>
		
		<div class="content-page login" id="login">
			<form name="loginform" id="loginform">
				<table>
					<tr>
						<td><label for="username">Käyttäjätunnus</label></td>
						<td><input type="text" id="login-username" name="login-username"></input></td>
					</tr>
					<tr>
						<td><label for="password">Salasana</label></td>
						<td><input type="password" id="login-password" name="login-password"></input></td>
					</tr>
				</table>
				<hr/>
				<div class="foot-buttons">
					<button class="loginbutton" type="button" name="login">Kirjaudu</button>
				</div>
			</form>
		</div>
		
		<!--div frames awaiting content.-->
		<div class="templates" id="templates">
			<div id="frontpage">
				<div class="unit_gauge-holder" id="{{code}}" >
					<div class="unit_gauge_title"><span class="unit_title">{{name}}</span></div>
					<div class="gauge_flexer">
						<div>
							<div class="visible-button-list">
								<div class="side-button-div"><i class="fas fa-home side-button pressed" name="{{code}}_gauge" title="Näytä perustiedot"></i></div>
								<div class="side-button-div"><i class="fas fa-chart-line side-button" name="{{code}}_chart"  title="Näytä tilastograafi"></i></div>
								<div class="side-button-div"><i class="fas fa-history side-button" name="{{code}}_event" title="Näytä tapahtumat"></i></div>
								<div class="side-button-div"><i class="fas fa-cogs side-button" name="{{code}}_setting" title="Näytä asetukset"></i></div>
							</div>
						</div>
						<div>
							<div class="gauge_flexer" id="{{code}}_gauge">
								<div class="on-off-switches gauge-holder">
									<table class="on-off-row">
										<tr>
											<td>Järjestelmä päällä</td>
										</tr>
										<tr>
											<td class="foot-buttons"><i class="fas fa-2x button-icon sys-button" name="{{code}}_sys_on" title="Järjestelmän tila"></i></td>
										</tr>
										<tr>
											<td>Kiertoilma päällä</td>
										</tr>
										<tr>
											<td class="foot-buttons"><i class="fas fa-2x button-icon sys-button" name="{{code}}_ac_on" title="Kiertoilman tila"></i></td>
										</tr>
										<tr>
											<td>Kostutin päällä</td>
										</tr>
										<tr>
											<td class="foot-buttons"><i class="fas fa-2x button-icon sys-button" name="{{code}}_humid_on" title="Kiertoilman tila"></i></td>
										</tr>
									</table>
								</div>
								<div class="gauge-holder">
									<div class="gauge_title">Tuloilma &deg;C</div>
									<canvas name="{{code}}_in" width="150" height="170">
									</canvas>
									<div class="gauge_text" name="{{code}}_in_value"><span></span>&deg;C</div>
								</div>
								<div class="gauge-holder">
									<div class="gauge_title">Sisäänmenoilma &deg;C</div>
									<canvas name="{{code}}_pre" width="150" height="170">
									</canvas>
									<div class="gauge_text" name="{{code}}_pre_value"><span></span>&deg;C</div>
								</div>
								<div class="gauge-holder">
									<div class="gauge_title">Kasvatushuone &deg;C</div>
									<canvas name="{{code}}_main" width="150" height="170">
									</canvas>
									<div class="gauge_text" name="{{code}}_main_value"><span></span>&deg;C</div>
								</div>
								<div class="gauge-holder">
									<div class="gauge_title">Kosteus</div>
									<canvas name="{{code}}_humid" width="150" height="170">
									</canvas>
									<div class="gauge_text" name="{{code}}_humid_value"><span></span>%</div>
								</div>
								<div class="gauge-holder">
									<div class="gauge_title">CO<sub>2</sub> määrä</div>
									<canvas name="{{code}}_co" width="150" height="170">
									</canvas>
									<div class="gauge_text"  name="{{code}}_co_value"><span></span>ppm</div>
								</div>
							</div>
						
							<div class="unit-chart hidden" id="{{code}}_chart">
								<div class="resolution">
									<label for="{{code}}_res_select">Valitse aikaväli:</label>
									<select class="resolution-select" name="{{code}}_res_select" id="{{code}}_res_select">
										<option value="day" selected="selected">Päivä</option>
										<option value="3day">3 Päivää</option>
										<option value="week">Viikko</option>
										<option value="month">Kuukausi</option>
									</select>
								</div>
								<div class="gauge-holder">
									<canvas name="{{code}}_chart" width="850" height="250 ">
									</canvas>
								</div>
							</div>
							
							<div class="unit-history hidden" id="{{code}}_event">
								<div class="history-head-select">
									<label for="history-table-start">Valitse aikaväli </label>
									<input id="history-table-start" name="history-table-start"/>
									<label for="history-table-end"> - </label>
									<input id="history-table-end" name="history-table-end"/>
								</div>
								<div class="history-table-holder gauge-holder">
									<table class="history-table">
										<thead class="history-head">
											<tr>
												<th class="history-head icon-col">Tyyppi</th>
												<th class="history-head text-col">Tapahtuma</th>
												<th class="history-head time-col">Aika</th>
												<th class="history-head state-col">Tila</th>
											</tr>
										</thead>
										<tbody class="history-body-main">
										</tbody>
									</table>
								</div>
							</div>
							
							<div class="template-advanced hidden" id="{{code}}_setting" name="{{code}}_setting">
								<input type="hidden" name="unit_code" value="{{code}}"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div id="template-advanced">
				
				<fieldset>
					<legend>Tavoitearvot ja rajat</legend>
					<table>
						<tr>
							<td class="advanced">Kiertopuhaltimen nopeus:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number"  min="10" max="100" id="{{code}}_ac_amount" name="ac_amount" value="{{ac_amount}}"></input></td>
						</tr>
						<tr>
							<td class="advanced">CO2:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_co2_amount" step="100" min="0" max="5000" name="co2_amount" value="{{co2_amount}}"></input></td>
							<td class="advanced">Rajat:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_co2_low" step="100"  min="0" max="5000" name="co2_low" value="{{co2_low}}"></input></td>
							<td class="advanced"> - </td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_co2_high" step="100"  min="0" max="5000" name="co2_high" value="{{co2_high}}"></input></td>
						</tr>
						<tr>
							<td class="advanced">Kosteus:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_humid_amount"  min="10" max="100" name="humid_amount"  value="{{humid_amount}}"></input></td>
							<td class="advanced">Rajat:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_humid_low" min="10" max="100" name="humid_low" value="{{humid_low}}"></input></td>
							<td class="advanced"> - </td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_humid_high"  min="10" max="100"name="humid_high" value="{{humid_high}}"></input></td>
						</tr>
						<tr>	
							<td class="advanced">Lämpötila:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_temp_amount" min="10" max="40" name="temp_amount" value="{{temp_amount}}"></input></td>
							<td class="advanced">Rajat:</td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_temp_low" min="10" max="40" name="temp_low"></input></td>
							<td class="advanced"> - </td>
							<td class="advanced"><input class="short-set advanced-value" type="number" id="{{code}}_temp_high" min="10" max="40" name="temp_high"></input></td>
						</tr>
					</table>
				</fieldset>
				<fieldset>
					<legend>Vuorokausirytmi</legend>
					<table>
						<tr>
							<td class="advanced">Valoryhmä 1 päällä</td>
							<td class="advanced"><i class="fas fa-2x button-icon sys-button fa-toggle-on" name="light_set_1" title="Valoryhmä 1 tila"></i></td>
							<td class="advanced">Valoryhmä 1 päälläoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_on_1" name="lights_on_1" value="{{lights_on_1}}"/></td>
							<td class="advanced">Valoryhmä 1 poissaoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_off_1" name="lights_off_1" value="{{lights_off_1}}"/></td>
						</tr>
						<tr>
							<td class="advanced">Valoryhmä 2 päällä</td>
							<td class="advanced"><i class="fas fa-2x button-icon sys-button fa-toggle-on" name="light_set_2" title="Valoryhmä 2 tila"></i></td>
							<td class="advanced">Valoryhmä 2 päälläoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_on_2" name="lights_on_2" value="{{lights_on_2}}"/></td>
							<td class="advanced">Valoryhmä 2 poissaoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_off_2" name="lights_off_2" value="{{lights_off_2}}"/></td>
						</tr>
						<tr>
							<td class="advanced">Valoryhmä 3 päällä</td>
							<td class="advanced"><i class="fas fa-2x button-icon sys-button fa-toggle-on" name="light_set_3" title="Valoryhmä 3 tila"></i></td>
							<td class="advanced">Valoryhmä 3 päälläoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_on_3" name="lights_on_3" value="{{lights_on_3}}"/></td>
							<td class="advanced">Valoryhmä 3 poissaoloaika:</td>
							<td class="advanced"><input class="advanced-value" type="time" id="{{code}}_lights_off_3" name="lights_off_3" value="{{lights_off_3}}"/></td>
						</tr>
					</table>
				</fieldset>
				<fieldset>
					<legend>Vain Luku</legend>
					<table>
						<tr>
							<td class="advanced">Tulopuhallin käynnissä:</td>
							<td class="advanced"><i class="fas fa-2x button-icon sys-button fa-toggle-on read-only" name="ic_on" title="Tulopuhallin tila"></i></td>
							<td class="advanced">Tulopuhallin nopeus:</td>
							<td class="advanced"><span>{{ic_rpm}}</span><span>%</span></td>
						</tr>
						<tr>
							<td class="advanced">Poistopuhallin käynnissä:</td>
							<td class="advanced"><i class="fas fa-2x button-icon sys-button fa-toggle-on read-only" name="oc_on" title="Poistopuhallin tila"></i></td>
							<td class="advanced">Poistopuhallin nopeus:</td>
							<td class="advanced"><span>{{oc_rpm}}</span><span>%</span></td>
						</tr>
					</table>
				</fieldset>
			</div>
			
			<div id="template-history-table">
				<table>
					<tbody id="history-table-row-model">
						<tr class="history-row">	
							<td class="history-body icon-col">{{type}}</td>
							<td class="history-body text-col">{{message}}</td>
							<td class="history-body time-col">{{eventTime}}</td>
							<td class="history-body state-col">{{handled}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="template-settings">
				<div id="template-settings-unit">
					<div id="units">
						<h3>Kontti 1</h3>
						<div>
							<table>
								<tr>
									<td class="advanced">Koodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_code" name="{{code}}_code"></input></td>
									<td class="advanced">Käytössä:</td>
									<td class="advanced"><input type="checkbox" id="{{code}}_active" name="{{code}}_active"></input></td>
								</tr><tr>
									<td class="advanced">Nimi:</td>
									<td class="advanced"><input type="text" id="{{code}}_name" name="{{code}}_name"></input></td>
									<td class="advanced">Logiikkakoodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_opc_code" name="{{code}}_opc_code"></input></td>
								</tr>
							</table>
						</div>
						<h3>Kontti 2</h3>
						<div>
							<table>
								<tr>
									<td class="advanced">Koodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_code" name="{{code}}_code"></input></td>
									<td class="advanced">Käytössä:</td>
									<td class="advanced"><input type="checkbox" id="{{code}}_active" name="{{code}}_active"></input></td>
								</tr><tr>
									<td class="advanced">Nimi:</td>
									<td class="advanced"><input type="text" id="{{code}}_name" name="{{code}}_name"></input></td>
									<td class="advanced">Logiikkakoodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_opc_code" name="{{code}}_opc_code"></input></td>
								</tr>
							</table>
						</div>
						<h3>Kontti 3</h3>
						<div>
							<table>
								<tr>
									<td class="advanced">Koodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_code" name="{{code}}_code"></input></td>
									<td class="advanced">Käytössä:</td>
									<td class="advanced"><input type="checkbox" id="{{code}}_active" name="{{code}}_active"></input></td>
								</tr><tr>
									<td class="advanced">Nimi:</td>
									<td class="advanced"><input type="text" id="{{code}}_name" name="{{code}}_name"></input></td>
									<td class="advanced">Logiikkakoodi:</td>
									<td class="advanced"><input type="text" id="{{code}}_opc_code" name="{{code}}_opc_code"></input></td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div id="template-users">
				<h3>{{username}}</h3>
				<div>
					<form name="settings_user_{{username}}" id="settings_user_{{username}}">
						<table>
							<tr>
								<td><label for="settings-user-username">Käyttäjätunnus</label></td>
								<td><input type="text" id="username" name="username" value="{{username}}"></input></td>
							</tr>
							<tr>
								<td><label for="settings-user-realname">Nimi</label></td>
								<td><input type="text" id="realname" name="realname"  value="{{realname}}"></input></td>
							</tr>
							<tr>
								<td><label for="email">Sähköposti</label></td>
								<td><input type="email" id="email" name="email"  value="{{email}}"></input></td>
							</tr>
							<tr>
								<td><label for="user_group">Käyttäjäryhmä</label></td>
								<td>
									<select id="user_group" name="user_group">
										<option value="viewer">Katsoja</option>
										<option value="user">Käyttäjä</option>
										<option value="admin">Pääkäyttäjä</option>
									</select>
								</td>
							</tr>
							<tr><td colspan="2"><hr/></td>
							<tr>
								<td><label for="old_pass">Vanha Salasana</label></td>
								<td><input type="password" id="old_pass" name="old_pass"></input></td>
							</tr>
							<tr>
								<td><label for="new_pass">Uusi Salasana</label></td>
								<td><input type="password" id="new_pass" name="new_pass"></input></td>
							</tr>
							<tr>
								<td><label for="pass_again">Salasanan varmistus</label></td>
								<td><input type="password" id="pass_again" name="pass_again"></input></td>
							</tr>
						</table>
						<hr/>
						<div class="foot-buttons">
							<button type="button" name="settings-user-ok">Tallenna</button>
							<button type="button" name="settings-user-cancel">Peruuta</button>
						</div>
					</form>
				</div>
			</div>
			<div id="template-import-page">
				<div class="import-wrap">
					<form id="water_form" name="water_form">
						<table>
							<tr>
								<td><label for="unit_select">Kontti:</label></td>
								<td>
									<select id="unit_select" name="unit_select">
										<option value="dbKontti1Vesiventtiilit">Kontti 1</option>
										<option value="dbKontti2Vesiventtiilit">Kontti 2</option>
										<option value="dbKontti3Vesiventtiilit">Kontti 3</option>
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="group_select">Laatikkoryhmä:</label></td>
								<td>
									<select id="group_select" name="group_select">
									</select>
								</td>
							</tr>
							<tr>
								<td><label for="open_value">Aukioloaika:</label></td>
								<td>
									<input type="text" name="open_value" id="open_value"/>
									Sekuntia
								</td>
							</tr>
							<tr>
								<td><label for="close_value">Kiinnioloaika:</label></td>
								<td>
									<input type="text" name="close_value" id="close_value"/>
									Minuuttia
								</td>
							</tr>
							<tr>
								<td><button type="button" name="save_and_start">Tallenna</button></td>
								<td><button type="button" name="stop_action">Pysäytä</button></td>
							</tr>
						</table>
					</form>
				</div>
			<div>
		</div>
	</body>

</html>