<div id="import-page">
	<div class="import-wrap">
		<div class="left-import">
			<table>
				<tr> 	 
					<td>Tunnit:</td>
					<td><input type="file" id="hour"/></td>
				</tr>
				<tr> 	 
					<td>Päivät:</td>
					<td><input type="file" id="day"/></td>
				</tr>
				<tr> 	 
					<td>Jaksot:</td>
					<td><input type="file" id="period"/></td>
				</tr>
				<tr> 	 
					<td>Kontit:</td>
					<td><input type="file" id="unit"/></td>
				</tr>
		</div>
		<div class="right-import">
			  <ul>
				<li><a href="#output">Yhteenveto</a></li>
				<li><a href="#master">Kontit</a></li>
				<li><a href="#periods">Jaksot</a></li>
				<li><a href="#days">Päivät</a></li>
				<li><a href="#hours">Tunnit</a></li>
			  </ul>
			  <div id="output">
				<textarea></textarea>
			  </div>
			  <div id="master">
				<textarea></textarea>
			  </div>
			  <div id="periods">
				<textarea></textarea>
			  </div>
			  <div id="days">
				<textarea></textarea>
			  </div> 
			  <div id="hours">
				<textarea></textarea>
			  </div>
		</div>
	</div>
<div>